body, html {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images section */
.images {
    padding: 0px;
    margin: 0px;
    padding-left: 0;
    margin-top: 10%;     /* 15%, cause of top navigation bar */
    margin-left: 19%;    /* 17%, cause of side navigation bar */
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1.5vw; 
  margin-right: 1.5vw; 
  margin-top: 3vh; 
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1; /* display in front of the image */
  list-style: none; /* must be set - li has the same position as ul */
  padding-left: 0; /* must be set - li has the same position as ul */
}

.dropdown-content li{
  color: black; /* text color */
  padding: 8px 50px; 
  display: block; /* under the previous element (button) */
  background-color: #f1f1f1; /* button color */
  min-width: 14vw; /* szerokość rozwijanej listy? */
  border: none;
  font-size: 14px;
  text-align: center;
}

.dropdown-content li:hover {background-color: #ddd;} 

.dropdown:hover .dropdown-content {display: block;}


img {
  border-radius: 8px; 
  margin-bottom: 0; /* must be 0 to be close to the dropdown list */
  width: 14vw;
  height: 27vh;
  object-fit: cover;
  box-shadow: 10px 10px 5px dimgrey; /* Enable shadow behind image*/
}

input#photos {
  display: none;
}