/* Side navigation bar */

.sideNavBar {
    top: 4%;
    bottom: 1%;
    /* 2% from the bottom */
    left: 2%;
    /* 2% from the left side */
    right: 2%;
    width: 15vw;
    /* width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    /*  Disable vertical scroll */
}

/* Logo */

#logo {
    top: 15% !important;
    max-width: 100%;
    height: auto;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    /* Disable shadow behind logo image*/
}

/* Upload button */

.btn-responsive.uploadButton {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: forestgreen;
    border: 1px solid #6C6C6C;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* Upload button while hovering the cursor over */

.btn-responsive.uploadButton:hover, .btn-responsive.uploadButton:focus, .btn-responsive.uploadButton:active:focus {
    background-color: darkgreen;
    cursor: pointer;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* Side buttons bar */

.buttonsSideBar {
    color: grey;
    max-width: 88%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 25px;
    background-color: rgba(46, 49, 49, 0.7);
    box-shadow: 10px 10px 5px dimgrey;
    /* Enable shadow behind nav bar*/
}

.button-container.sideGroup {
    padding: 0;
    height: 100%;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn-group.sideGroup {
    width: 7vw;
}

.btn-responsive {
    width: 100%;
    height: 100%;
    font-size: 0.8vw !important;
}

/* Filter button */

.btn-responsive.filterButton {
    background-color: #E7D81E;
    border-color: greenyellow;
    color: #4B4B4B;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Filter button while hovering the cursor over */

.btn-responsive.filterButton:hover, .btn-responsive.filterButton:focus, .btn-responsive.filterButton:active:focus {
    background-color: #CCA300;
    border-color: greenyellow;
    color: #4B4B4B;
    margin-top: 5%;
    margin-bottom: 5%;
}